@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/** typography **/

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #0EA5E9;
    --blackhish-color: #3f3f46;
    --orangish-color: #fcd34d;
    --lightblue-color: #bae6fd;
}

hr {
    margin: 2rem 0rem;
}

/** container **/

.container {
    padding: 0rem 2rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


/** link **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}


/** list **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.navigation .nav-pill {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .nav-brand {
    font-weight: bolder;
    font-size: large;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding-top: 4rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding: 0.5rem;
    color: var(--blackhish-color);
    font-weight: bold;
}

.hero .hero-heading .hero-heading-highlight {
    color: var(--orangish-color);
}

/** section **/
.section {
    padding: 3rem;
}

.section h2 {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.padding-md{
    padding-top: 2rem;
    padding-right: 1rem;
}

.ow {
    background-color: var(--lightblue-color);
}

/** footer **/

.footer {
    background-color: var(--primary-color);
    border-top-right-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    color: white;
}

.footer .footer-header {
    font-weight: bold;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

#lib-header{
    padding-top: 2rem;
}
